extends layout

block content
  h1(align='center') Positions&nbsp;&nbsp;
    a.btn.btn-success.btn-circle(href='/makeEntry') Add
  table.table-striped
    thead
    tbody.items-list
  div.bottom
    span.Header Portfolio Value: $
    span.text.bottomLine
block scripts
  script(src='js/main.js')
